<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title> Assign Agent </title>
<link rel="stylesheet" href="{{ url_for('static', filename='dash.css') }}">
</head>
<body>

<div class="topnav">
  <a class="active" href="#dash">Welcome To Dashboard!   </a>
  <a class="middle">Ticket Solver - PNT2022TMID27274</a>
  <a class="leftnav" href="/logout">Logout</a>
</div>

<div style="padding-left:55px">
  <h2>Assign an Agent for a Ticket ID - {{resid}}</h2>
</div>

<div style="padding-left:55px">
    <a href="{{ url_for('admindashboard') }}" ><button>Back</button></a>
    <br>
    <br>
    <hr>
    <br>
    <br>
  </div>
  <div align="center">
  <form action="{{ url_for('assign_agent') }}" method="post">
  <h3>Assign Agent : </h3>   
  <select name="aname" id="aname">
    {% for agent in agents %}
        <option value="{{agent['USERNAME']}}" SELECTED>{{agent['USERNAME']}}</option>"
    {% endfor %}
</select>
  <input type="hidden" id="tid" name="tid" value="{{resid}}">
  <input type="submit" id="submit" value="Submit">
  </form>
</div>
    </body>
</html>