<html>
    <title>Ticket Form</title>
    <head>
        Create New Ticket
        <link rel="stylesheet" href="{{ url_for('static', filename='ticketform.css') }}">
    </head>
    <body>
    </br></br></br></br></br>
    <div align="center">
    <div align="center" class="border">
        <div class="header">
            <h1 class="word">Create a New Ticket</h1>
        </div></br></br></br>
        <h2 class="word">
            <form action="{{ url_for('ticketform') }}" method="post">
            <div class="msg">{{ msg }}</div>
            <label>Request Name</label>
                <input id="ticketname" name="ticketname" type="text" placeholder="Enter Your Ticket Name" class="textbox"/></br></br>
                <label>Product Type</label>
                <input id="producttype" name="producttype" type="text" placeholder="Enter Product Type" class="textbox"/></br></br></br>
                <label>Status</label>
                <select name="status" id="status">
                    <option value="open">Open</option>
                    <option value="agentassigned">Agent Assigned</option>
                    <option value="resolved">Resolved</option>
                </select>
            </br></br></br>
                <label>Priority</label>
                <select name="priority" id="priority">
                    <option value="minor">Minor</option>
                    <option value="medium">Medium</option>
                    <option value="major">Major</option>
                </select>
            </br></br></br>
                <label>Description</label>
                <textarea rows = "5" cols = "30" id="description" name="description" type="text" placeholder="Enter the Description" class="bigbox"></textarea></br></br></br>
                <label for="date">Due Date:</label>
                <input type="date" id="date" name="date">
               </br></br></br>
                <label>Place</label>
                <input id="place" name="place" type="text" placeholder="Enter your Place" class="textbox"/></br></br></br>
                <input type="submit" class="btn" value="Submit"></br></br>
            </form>
        </h2>
        <p class="bottom"><a class="bottom" href="{{url_for('customerdashboard')}}"> Cancel</a></p>
    </div>
    </div>
    </body>
</html>