<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title> Add Resolution </title>
<link rel="stylesheet" href="{{ url_for('static', filename='dash.css') }}">
</head>
<body>

<div class="topnav">
  <a class="active" href="#dash">Welcome To Dashboard!   </a>
  <a class="middle">Ticket Solver - PNT2022TMID27274</a>
  <a class="leftnav" href="/logout">Logout</a>
</div>

<div style="padding-left:55px">
  <h2>Add Resolution for a Ticket</h2>
</div>

<div style="padding-left:55px">
    <a href="{{ url_for('agentdashboard') }}" ><button>Back</button></a>
    <br>
    <br>
    <hr>
    <br>
    <br>
  </div>
   <div align="center">
    <h3>Add Resolution For The Ticket: ID - {{ticid}} </h3>
    <form action = "{{ url_for('add_resolution') }}" method = "post">
        <br>
        <textarea rows = "5" cols = "60" name = "resolution" placeholder="Enter details here...">
        </textarea><br>
        <br>
        <br>
        <input type="hidden" id="tid" name="tid" value="{{ticid}}">
        <input type = "submit" value = "submit" />
     </form>

   </div>
      
    
    </body>
</html>